name: Run Tests on PR
on: pull_request
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run docker compose up
        run: docker-compose -f tests/docker-compose.yml up -d
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install https://github.com/glencoesoftware/zeroc-ice-py-linux-x86_64/releases/download/20231130/zeroc_ice-3.6.5-cp38-cp38-manylinux_2_28_x86_64.whl
          pip install .[tables]
          sleep 60
      - name: Test with pytest
        run: |
          pytest tests/

          
