name: Run Tests on push
on: 
  push:
    branches: [ main, tables ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run docker compose up
        run: docker-compose -f tests/docker-compose.yml up -d
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install .[tables]
      - name: Test with pytest and generate coverage report/badge
        run: |
          pip install coverage coverage-badge
          coverage run -m pytest tests/
          coverage report -i
          coverage-badge -f -o coverage.svg
      - name: Commit badge
        run: |
          git config --global user.name 'Erick Ratamero'
          git config --global user.email 'erickmartins@users.noreply.github.com'
          git add coverage.svg
          git commit --allow-empty -am "Automated updating coverage badge"
          git push

